{% extends 'common/base.html' %}

{% block content %}

<form action="" method="POST" >{% csrf_token %}
  <h3>Login</h3>
  <div class="form-group">
    <label for="input-username">username</label>
    <input id="input-username" type="text" name="username">
  </div>
  <div class="form-group">
    <label for="input-password">password</label>
    <input id="input-password" type="password" name="password">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

{% endblock %}
