{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="ko">
<head>
  <title>Rdj's blog</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="" class="navbar-brand">Rdj's Blog</a>

      </div>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav navbar-right">
          {% if not user.is_authenticated %}
          <li>
            <a href="{% url 'member:login' %}?next={{ request.path }}">Login</a>
          </li>
          {% else %}
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-plus"> New post</span>
            </a>
          </li>
          <li>
            <a href="{% url 'member:logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% if messages %}
    <div>
      {% for message in messages %}
        <div class="alert
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}alert-info
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}alert-danger
        {% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <h1 class = "blog-title">{% block title %}Django girls tutorial Blog {% endblock %}</h1>
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
