h1 {
  color : red;
  font-size: 13px;
}

p {
  color : gray;
  margin-bottom: 10px;
}

.section {
  color: #333
  margin-bottom: 40px;
}

/*p tag에만 먹히는 클래스*/
p.section-title {
  font-size: 18px;
}

p.section-content {
  font-size: 13px
  line-height: 13px;
  color: #999
}

#index-title {
  font-size: 18px;
}

p#index-description {
  font-size: 12px;
  color: #999;
}

a[href="naver.com"] {
  color: blue;
}

a[href~="abc"] {
  color: blue;
}

a[href="naver.com"] {
  color: blue;
}

a[href="naver.com"] {
  color: blue;
}

a[href="naver.com"] {
  color: blue;
}

a.pseudo:link {
  color: green;
  text-decoration: line-through;
}
