.realative1 {
  width : 300px;
  height : 200px;
  background-color : black;
}

.realative2 {
  position : relative;
  width : 100px;
  height:100px;
  line-height : 100px;
  color : white;
  background-color: red;

  top : 50px;
  left: 70px;
}
